body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #282828;
    color: #cfcfcf;
    font-size: 18px;
}

h1 {
    letter-spacing: -3px;
    font-family: 'Cabin', sans-serif;
    font-size: 92px;
    margin-bottom: 0;
    color: #f4f4f4;
}

h1 span {
    font-family: 'Sedgwick Ave Display', cursive;
    color: #D91E18;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}